<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UNutrition</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item >Client Name: </ion-item>
  <ion-item>Fats: </ion-item>
  <ion-item>Carbs: </ion-item>
  <ion-item>Protien: </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Single Selection
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Meal Option </ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="1">Option  1</ion-select-option>
        <ion-select-option value="2">Option 2</ion-select-option>
        <ion-select-option value="3">Option 3</ion-select-option>
        <ion-select-option value="4">Option 4</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-row>
     <ion-col size = "3">
      <ion-header>Food Bank</ion-header>
      <ion-list cdkDropList
       #firstList = "cdkDropList"
       [cdkDropListData] = "foodBank"
       [cdkDropListConnectedTo] = "[firstMeal, secondMeal, thirdMeal, fourthMeal]"
       (cdkDropListDropped) = "drop($event)">
        <ion-card *ngFor="let item of foodBank" cdkDrag>
        <ion-card-content>{{item}}</ion-card-content>
        </ion-card>    
      </ion-list>
    </ion-col>

    
    <ion-col size = "2">
      <ion-header>Meal 1</ion-header>
      <ion-list cdkDropList
       #firstMeal = "cdkDropList"
       [cdkDropListData] = "mealOne"
       [cdkDropListConnectedTo] = "[firstList]"
       (cdkDropListDropped) = "drop($event)">
        <ion-card *ngFor="let item of mealOne" cdkDrag>
        <ion-card-content>{{item}}</ion-card-content>
        </ion-card>    
      </ion-list>
    </ion-col>

    
    <ion-col size = "2">
      <ion-header>Meal 2</ion-header>
      <ion-list cdkDropList
       #secondMeal = "cdkDropList"
       [cdkDropListData] = "mealTwo"
       [cdkDropListConnectedTo] = "[firstList]"
       (cdkDropListDropped) = "drop($event)">
        <ion-card *ngFor="let item of mealTwo" cdkDrag>
        <ion-card-content>{{item}}</ion-card-content>
        </ion-card>    
      </ion-list>
    </ion-col>

    
    <ion-col size = "2">
      <ion-header>Meal 3</ion-header>
      <ion-list cdkDropList
       #thirdMeal = "cdkDropList"
       [cdkDropListData] = "mealThree"
       [cdkDropListConnectedTo] = "[firstList]"
       (cdkDropListDropped) = "drop($event)">
        <ion-card *ngFor="let item of mealThree" cdkDrag>
        <ion-card-content>{{item}}</ion-card-content>
        </ion-card>    
      </ion-list>
    </ion-col>

    <ion-col size = "2">
      <ion-header>Snack</ion-header>
      <ion-list cdkDropList
       #fourthMeal = "cdkDropList"
       [cdkDropListData] = "theSnack"
       [cdkDropListConnectedTo] = "[firstList]"
       (cdkDropListDropped) = "drop($event)">
        <ion-card *ngFor="let item of theSnack" cdkDrag>
        <ion-card-content>{{item}}</ion-card-content>
        </ion-card>    
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>


  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item>
        <ion-label>{{item}}</ion-label>
      </ion-item>
      
      <ion-item-options side = "start" (ionSwipe) = "openClients(i)">
        <ion-item-option color = "secondary" (click) = "openClients(i)" expandable>
          <ion-icon name = "open"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side = "end" (ionSwipe) = "delete(i)">
        <ion-item-option color = "danger" (click) = "delete(i)" expandable>
          <ion-icon name = "close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      </ion-item-sliding>
      
  </ion-list>

  <p>hello world</p>

  <ion-list>
    <ion-item-sliding *ngFor="let foodItem of foodItems; let i = index">
      <ion-item>
        <ion-label>{{foodItem}}</ion-label>
      </ion-item>
      
      <ion-item-options side = "start" (ionSwipe) = "openClients(i)">
        <ion-item-option color = "secondary" (click) = "openClients(i)" expandable>
          <ion-icon name = "open"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side = "end" (ionSwipe) = "delete(i)">
        <ion-item-option color = "danger" (click) = "delete(i)" expandable>
          <ion-icon name = "close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      </ion-item-sliding>
      
  </ion-list> -->
  


